*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
androidApp/google-services.json
androidApp/release
buildSrc/build
shared/build